:root{
    --primaryColor:#363636;
    --primaryLightColor:#868686;
    --primaryDarkColor:#000000;
    --secondaryColor:#388e3c;
    --secondaryLightColor:#6abf69;
    --secondaryDarkColor:#00600f;
    --primaryTextHoverColor:#ffffff;
    --primaryTextColor:#d1d1d1;
    --secondaryTextColor:#000000;
    font-family: "Roboto";
}

body {
	margin: 0;
    background-color: var(--primaryDarkColor);
}

#optionMenu {
	height: 5em;
    position: relative;
}



#optionMenu div{
    overflow: hidden;
}


.menuButton {
    height: 100%;
	background-color: var(--primaryColor);
	width: 7em;
	text-align: center;
	color: var(--primaryTextColor);
    /* transform: translateY(-45%); */
    padding: 0;
    cursor: pointer;
}

.menuButton:hover{
    background-color: var(--primaryLightColor)
}


#board {
    background-color: var(--secondaryColor);
    width: 100%; 
    height:85vh;
    display: inline-block;
    transition: width ease .3s;
    
}

#scenarios{
    margin: 0; 
    /* font-size: large; */
    overflow: visible;
    cursor: pointer;
    width: 9rem;
}

#scenarioBlock{
    margin-left: 2em;
    display: inline-block;
    height: 50%;
    overflow: visible;
    text-align: center;
}

#scenarioBlock p {
    font-size: small;
    color: var(--primaryTextColor);
    margin: 0 0 0.5em 0;
    
}

.slider {
    height: 100%;
    width: 13em;
   
    background-color: var(--primaryColor);
    color: var(--primaryTextColor);
    display: inline-block;
    text-align: center;
    
}

/* .verticalCenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
} */




#setSpeedButton, #setScaleButton{
    width: 2em;
    height: 2em;
    background-color: var(--secondaryColor);
    /* aspect-ratio: 1 / 1; */
    
}
#setSpeedButton:hover,  #setScaleButton:hover{
    background-color: var(--primaryTextColor);
    color: var(--secondaryColor);
}

/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 24;
  transform: translateX(-25%)
} */

.block{
    display: block!important;
}

.inlineBlock{
    display: inline-block;
    height: 100%;
    
}

.menuButton, .slider{
    visibility: hidden;
}
#startButton{
    visibility: visible;
}

#sideMenu{
    width: 19%;
    background: var(--primaryDarkColor);
    height: 85vh;
    display: inline-block;
    /* float: right; */
    border: 2px solid var(--primaryColor);
}

#sideMenu *{
    color: var(--primaryTextColor);
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    display: block
}

#sideMenu button{
    background-color: var(--primaryColor);
    font-size: larger;
    width: calc(100% - 4rem);
    cursor: pointer;
    border-radius: 10%;
    border-radius: 5%;
    box-shadow: 0px 2px 2px var(--primaryLightColor);
    border: 1px solid var(--primaryTextColor);
}

#sideMenu button:hover{
    /* background-color: var(--primaryDarkColor); */
    color: var(--primaryTextHoverColor);
    border-radius: 5%;
    border: 1px solid var(--primaryTextHoverColor);
}

#sideMenu button:active{
    box-shadow: 0px 0px ;
}


#options {
    background: var(--primaryDarkColor);
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    height: 85vh;
    position: relative;
    transition: width ease .3s;
    width: 0;
    /* z-index: 100; */
    overflow: hidden;
    float: right;
}

#vehicleOptions{
    text-align: center;
    width: 100%;
    padding-top: 1rem;
}

#vehicleOptions button{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    background-color:var(--primaryColor);
    color: var(--primaryTextColor);
    cursor: pointer;
}
#vehicleOptions button:hover{
    color: var(--primaryTextHoverColor);
}
#vehicleOptions button:active{
    background-color: var(--primaryLightColor);
}

#vehicleOptions h2, p{
    color: var(--primaryTextHoverColor);
}

#optionsClose{
    position: absolute;
    z-index: 5;
    right: 0.2rem;
    top: 5.2rem;
    visibility: hidden;
}

.iconClose{
    z-index: 6;
    position: absolute;
    right: 0.5rem;
    top: 5rem;
    font-size: xx-large;
    font-weight: bold;
    cursor: pointer;
}

#optionsClose:checked +.iconClose{
    color: var(--primaryTextColor);
    
}


#optionsClose:checked +.iconClose::after{
    content: 'x';
}

#optionsClose:checked ~ #options{
    width: 20%;
}

#optionsClose:checked ~ #board{
    width: 80%;
}



